<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      IAB Message
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-button (click)="openIabWithIabToAppCommunication()">open IAB - one way</ion-button>
    <ion-button (click)="openIabWithTwoWayCommunication()">open IAB - two way </ion-button>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Message:</ion-label>
      <ion-input value="{{ message }}"></ion-input>
    </ion-item>
  </div>

</ion-content>
